html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #F1E3A7;
  margin: 0;
  height: 100%
}

img{
  width: 100%;
  height: auto;
}

.container{
  background-color: #B18F6A;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #51675B;
}

.menu__list{
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu__item{
  margin: 10px;
  min-width: 100px;
  min-height: 25px;
  background-color: green;
  border: 0;
  font-size: 1.5em;
  text-transform: uppercase;
}

.site-title{
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 501px and max-width: 999px) {
  .container {
    max-width: 100%;
  }

  .menu__list{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .container{
    flex-direction: row;
  }
}
